#resultRow {
	display: none;
	margin-top: 2%;
	background: #f5f5f5;
}

.textForResult {
	padding-top: 1em;
}

.textForResult p{
	font-size: 1.5em;
	height: 100%;
}

.closeContainerResult {
	display: flex;
	justify-content: end;
}

.big-checkbox {
 	width: 30px;
 	height: 30px;
}
 
.inputword {
	width: 100%;
	margin-top: 30%;
	text-align: center;
}

.interactionZone {
	margin: 2% 0 2% 0;
}

.backResult {
	display: flex;
	position: fixed;
	margin-left: 90%;
	background: #dfe0df;
	top: 25%;
	right: 0;
	height: 25%;
	width: 10%;
}
